version: '3.3'
services:
  web:
    image: nginx:latest
    ports:
      - "8090:80"
    networks:
      - mynetwork

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: examplepassword
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
