version: '3.3'
services:
  backend:
    image: php:7.4-apache
    depends_on:
      - db
    networks:
      - mynetwork
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: examplepassword

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: examplepassword
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
